/* Centraliza o formulário na tela */
form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os itens no centro horizontalmente */
  justify-content: center; /* Alinha os itens no centro verticalmente */
  padding: 20px; /* Adiciona um pouco de espaço interno */
  white-space: nowrap
}

.heading h1 {
  font-size: 28px;
  font-weight: bold;
  color: #030000;
  margin-bottom: 10px;
  text-align: center;
}

ion-label{
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
}

ion-text{
  align-items: center;
  padding: 5px;
  justify-content: center;
  margin-top: 5px;
}

ion-button{
  color: white;
  --background: #000000;
  border-radius: 5px;
  align-items: center;
  padding: 10px 120px;
  font-size: 16px;
  margin-top: 10px;
}

ion-icon{
  margin-right: 10px; 
  color: #000000;
  font-size: 20px;
}

ion-item {
  display: flex;
  align-items: center; /* Alinha ícone e input verticalmente */
  width: 100%; /* Faz o item ocupar a largura total */
  max-width: 300px; /* Define uma largura máxima para o formulário */
  margin-bottom: 15px; /* Espaço entre os itens */
}

