.imagem{
    background-image: url(/assets/cadastro.png);
    background-size: cover; /* Para a imagem cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    height: 100vh; /* Para garantir que a imagem cubra toda a altura da tela */
    width: 100vw; /* Para garantir que a imagem cubra toda a largura da tela */
    }