<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/header.png"></ion-img>
 
  <ion-card-header>
    <ion-card-title>
      Welcome
    </ion-card-title>
    <ion-card-subtitle class="ion-text-lowercase">
      Come and discover our website for tickets.
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div class="signin-btns">
      <ion-button size="small" fill="solid" shape= "round" class="loginbtn">
        Login
      </ion-button>
      <ion-button size="small" fill="outline" shape= "round" color="dark">SignIn</ion-button>
    </div>
    <div class="text-tag">
      <span>Or via Social Media</span>
    </div>

    <div class="social-btns">
      <ion-button fill="cler" class="facebookbtn ion-no-padding">
        <ion-img src="assets/facebook.png"></ion-img>
      </ion-button>
      <ion-button fill="cler" class="googlebtn ion-no-padding">
        <ion-img src="assets/google.png"></ion-img>
      </ion-button>
      <ion-button fill="cler" class="applebtn ion-no-padding">
        <ion-img src="assets/apple.png"></ion-img>
      </ion-button>
      
    </div>

  </ion-card-content>
</ion-card>

</ion-content>

