/* Estilos Gerais */
ion-content {
    --background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .login-section {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    padding: 30px 20px;
  }
  
  .heading h1 {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .heading p {
    font-size: 16px;
    color: #888;
  }
  
  .login-form {
    margin-top: 20px;
  }
  
  .form-input {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-input ion-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
  }
  
  .form-input ion-item {
    --background: transparent;
    --border-color: #ddd;
    --color-focused: #4a90e2;
    --highlight-background-focused: transparent;
    padding-left: 35px;
  }
  
  .form-input ion-label {
    color: #888;
    font-weight: 500;
  }
  
  .form-input ion-input {
    color: #333;
  }
  
  /* Botões e ações */
  .action-button {
    margin-top: 20px;
  }
  
  .login-button {
    --background: #4a90e2;
    --background-focused: #357ABD;
    --border-radius: 6px;
    width: 100%;
  }
  
  .login-button:hover {
    --background: #357ABD;
  }
  
  .cadastro-button {
    --background: #ffffff;
    --border-color: #4a90e2;
    --border-radius: 6px;
    color: #4a90e2;
    margin-top: 15px;
  }
  
  .cadastro-button:hover {
    --background: #f0f0f0;
  }
  
  p {
    font-size: 14px;
    color: #888;
    margin: 10px 0;
  }
  
  p:hover {
    color: #333;
    cursor: pointer;
  }
  

