ion-header, ion-toolbar{
  --background: #1a237e; /* Cor de fundo personalizada */
  --color: #ffffff; /* Cor do texto personalizada */
  --padding-start: 10px; /* Espaçamento à esquerda */
  --padding-end: 10px; /* Espaçamento à direita */
  }
  
  ion-title {
    font-family: 'Roboto', sans-serif; /* Fonte personalizada */
    font-size: 22px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito no título */
  }
  
  ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }

  form {
    border-radius: 8px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    max-width: 400px; /* Largura máxima do formulário */
    margin: auto; /* Centraliza o formulário */
  }
  
  ion-item {
    margin-bottom: 15px; /* Espaçamento entre os itens */
  }
  
  ion-label {
    color: #333; /* Cor do texto do rótulo */
    font-family:'Roboto', sans-serif;
    font-size: 10px;
  }
  
  ion-input {
    border-radius: 4px; /* Bordas arredondadas nos inputs */
  }
  
  ion-radio-group {
    margin-top: 10px; /* Espaçamento acima do grupo de rádio */
  }
  
  ion-button {
    background-color: #007bff; /* Cor do botão */
    color: #fff; /* Cor do texto do botão */
    border-radius: 4px; /* Bordas arredondadas no botão */
  }
  
  ion-button:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
  }

  
