.seat {
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.seat:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Cores para cada tipo de assento */
.seat.type1 {
    background-color: #4CAF50; /* Verde */
}

.seat.type2 {
    background-color: #2196F3; /* Azul */
}

.seat.type3 {
    background-color: #FF9800; /* Laranja */
}


.seat.selected {
    background-color: #FF5722; /* Vermelho */
    transform: scale(1.1);
}

/* Estilos para a disposição dos assentos */
.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.seat-map {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px; /* Adiciona margens para um melhor espaçamento */
    border: 2px solid #ddd; /* Borda ao redor do mapa de assentos */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: transparent; /* Removido o fundo */
}

ion-card {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px; /* Bordas arredondadas nos cartões */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve nos cartões */
    background-color: transparent; /* Removido o fundo */
}