ion-toolbar {
    --background: #1a237e;
}

ion-header {
    background-color: #1a237e;
}

ion-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.seat {
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.seat:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Cores para cada tipo de assento */
.seat.type1 {
    background-color: #4CAF50; /* Verde */
}

.seat.type2 {
    background-color: #2196F3; /* Azul */
}

.seat.type3 {
    background-color: #FF9800; /* Laranja */
}

.seat.selected {
    background-color: #FF5722; /* Vermelho */
    transform: scale(1.1);
}

/* Estilos para a disposição dos assentos */
.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.seat-map {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px; /* Adiciona margens para um melhor espaçamento */
    border: 2px solid #ddd; /* Borda ao redor do mapa de assentos */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: rgba(255, 255, 255, 0.1); /* Fundo levemente transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
}

/* Estilizando o layout geral */
body {
    margin: 0;
    font-family: 'Arial', sans-serif; /* Fonte mais moderna */
    background-color: #f5f5f5; /* Fundo claro para contraste */
}

/* Configurações de layout para responsividade */
@media (max-width: 768px) {
    .seat-map {
        margin: 10px; /* Reduzir margens em telas menores */
        padding: 15px; /* Reduzir padding em telas menores */
    }

    ion-title {
        font-size: 20px; /* Reduzir o tamanho da fonte em telas menores */
    }
}

