<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title class="custom-title">Ion Ingressos</ion-title>
    <ion-buttons slot="end">
      <!-- Icone de Ticket -->
      <ion-button class="icon-only-button" (click)="showEventos()" >
        <ion-icon name="ticket-outline"></ion-icon>
      </ion-button>
      <!-- Botão de login -->
      <ion-button class="icon-only-button" (click)="showLogin()"> 
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo">
    <h1>Em Cartaz</h1>
  </div>

  <div class="movie-container">
    <div class="movie-card">
        <div class="poster-container">
            <img src="assets/alien.png" class="movie-poster" >
        </div>
        <h3 class="movie-title">Alien: Romulus</h3>
        <ion-button (click)="showBuy()">Compre aqui</ion-button>
    </div>
    <div class="movie-card">
        <div class="poster-container">
            <img src="assets/diver.png" class="movie-poster">
        </div>
        <h3 class="movie-title">Divertidamente 2</h3>
        <ion-button (click)="showBuy()">Compre aqui</ion-button>
    </div>
    <div class="movie-card">
      <div class="poster-container">
          <img src="assets/vinga.png" class="movie-poster">
      </div>
      <h3 class="movie-title">Vingadores: Guerra Infinita</h3>
      <ion-button (click)="showBuy()">Compre aqui</ion-button>
  </div>
  <div class="movie-card">
    <div class="poster-container">
        <img src="assets/it.png" class="movie-poster">
    </div>
    <h3 class="movie-title">IT - A Coisa</h3>
    <ion-button (click)="showBuy()">Compre aqui</ion-button>
</div>

<div class="movie-card">
  <div class="poster-container">
      <img src="assets/lugar.png" class="movie-poster">
  </div>
  <h3 class="movie-title">Um lugar Silencioso: Dia Um</h3>
  <ion-button (click)="showBuy()">Compre aqui</ion-button>
</div>

<div class="movie-card">
  <div class="poster-container">
      <img src="assets/garfield.png" class="movie-poster">
  </div>
  <h3 class="movie-title">Garfield - O filme</h3>
  <ion-button (click)="showBuy()">Compre aqui</ion-button>
</div>

</div>



<!--sessao tipos de pagamentos-->
<div class="card-credit-session">
  <h1>Formas de Pagamentos</h1>
</div>

<div class="cartao-credito">
  <h3>Crédito</h3>
  <div class="pagamentos">
    <img src="assets/pagbank.png">
    <img src="assets/mastercard.png" >
    <img src="assets/visa.png" >
    <img src="assets/american.png" >
    <img src="assets/itau.png">
  </div>
</div>

<div class="cartao-debito">
  <h3>Débito</h3>
  <div class="pagamentos">
    <img src="assets/nubank.png">
    <img src="assets/bb.png">
    <img src="assets/santander.png">
    <img src="assets/bradesco.jpg">
    <img src="assets/c6.png">
  </div>
</div>

<div class="outros">
  <h3>Outros Pagamentos</h3>
  <div class="pagamentos">
    <img src="assets/paypal.png">
    <img src="assets/pix.png">
    <img src="assets/apple.png">
    <img src="assets/google.png">
  </div>
</div>

</ion-content>

<!-- Subnavbar fixa ao final da página -->
<ion-footer>
  <ion-toolbar class="custom-footer-toolbar">
    <ion-segment class="custom-segment">
      <ion-segment-button value="filmes" class="custom-segment-button" (click)="showHome()">
        <ion-icon name="home-outline" class="custom-icon"></ion-icon>
        <ion-label class="custom-label">Home</ion-label>
      </ion-segment-button>

      <ion-segment-button value="futebol" class="custom-segment-button" (click)="showFutebol()">
        <ion-icon name="football-outline" class="custom-icon"></ion-icon>
        <ion-label class="custom-label">Futebol</ion-label>
      </ion-segment-button>

      <ion-segment-button value="noticias" class="custom-segment-button" (click)="showNoticias()">
        <ion-icon name="newspaper-outline" class="custom-icon"></ion-icon>
        <ion-label class="custom-label">Notícias</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
